#footer {

    position: absolute;
    bottom: 0;
    height: 20px;
    background: #5a5959;
    color: #f3f1f1;
    width: 100%;
    padding-left: 7%;
    padding-right: 7%;
}
#footer .p{

    position: absolute;
    bottom: 0;
    height: 20px;
    background: #5a5959;
    color: #f3f1f1;
    width: 100%;
    padding-left: 7%;
    padding-right: 7%;
}
