#footer {

    position: fixed;
    bottom: 0;
    background: #5a5959;
    color: #f3f1f1;
    width: 100%;
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 10px;
    padding-bottom: 10px;
   
}

#header {
    background-image: url(./images/Header.jpg);
    display: block;
    top: 0;
    padding: 10px;
    width: 100%;
    background-size: 100%;
    border-bottom: 15px;
    box-shadow:0px 0px 15px black;
    height: 10%;
  

}
#headerText {
    display: block;
    color: rgb(19, 105, 105);
    text-shadow: 0px 0px 10px white;
    text-align: center;
    
    
}

#weatherInput {
    width: 500px;

}
form{
    text-align: center;
}

#weatherSubmit {
    color: white;
    background-color: rgb(19, 105, 105);
    border-radius: 15px;
}